<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>텀블러 선택</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" th:href="@{css/select.css}">
</head>
<body>
	<div id="title">
		<h1>텀블러 선택<img class='home' src='images/home.png'></h1>
	</div>
	<div id="content">
		<div class="text">적립할 텀블러를 선택하세요!</div>
		<div class="tumbler_item">
			<img class="tumbler_img" th:each="t:${tumblerlist}" 
				th:src="${t.tumblerImg}" th:onclick="showQR([[${t.tumblerQR}]]);">
		</div>
		<div id="QRCodeArea"></div>
		<div class="text">직원에게 보여주세요.</div>
	</div>
	
	<script>
		function showQR(str){
			QRCodeArea.innerHTML = `<img src="${str}">`;
		}
		
		$(".tumbler_img").on("click", function(){
			$(this).attr('class','active');
			$(this).siblings().attr('class','inactive');
		});
		
		$(".tumbler_item img:first-of-type").click();
		
		document.querySelector(".home").onclick = function(){
				location.href = "main";
		};
	</script>
	
</body>
</html>