<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
		body {
		width: 100vw;
		height: 100vh;
		margin: 0px;
		padding: 0px;
		border: 1px solid black;
	}
	#title {
		border: 1px solid black;
	}
	#title h1 {
		font-size: 5em;
		text-align: center;
		border: 1px solid black;
	}
	#content {
		font-size: 2.5em;
		border: 1px solid black;
	}
</style>
</head>
<body>
	<div id="title">
		<h1>텀블러 등록</h1>
	</div>
	<div id="content">
		<form action="insertTumbler" method="post" enctype="multipart/form-data">
			<!-- <input type="text" name="tumblerName"> -->
			<input type="file" name="files">
			<input type="submit" value="등록">
		</form>
	</div>
</body>
</html>